<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8"/>
	<title>Lista Telefonica</title>
	<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-messages.js"></script>
	<script type="text/javascript" src="lib/angularjs/angular-locale_pt-br.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap-colorpicker-module.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script type="text/javascript" src="js/services/contatosAPIFactory.js"></script>
	<script type="text/javascript" src="js/services/operadorasAPIService.js"></script>
	<script type="text/javascript" src="js/services/serialGeneratorProvider.js"></script>
	<script type="text/javascript" src="js/config/serialGeneratorConfig.js"></script>
	<script type="text/javascript" src="js/value/configValue.js"></script>
	<script type="text/javascript" src="js/directives/uiAlertDirective.js"></script>
	<script type="text/javascript" src="js/directives/uiDateDirective.js"></script>
	<script type="text/javascript" src="js/directives/uiAccordionDirective.js"></script>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/colorpicker.min.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-app="listaTelefonica">
	<div ng-controller="listaTelefonicaCtrl" class="container">
		<div class="jumbotron">
		
		<ui-accordions>
			<ui-accordion title="Accordion1">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
			</ui-accordion>

			<ui-accordion title="Accordion2">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
			</ui-accordion>

			<ui-accordion title="Accordion3">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
			</ui-accordion>

			<ui-accordion title="Accordion4">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
			</ui-accordion>
		</ui-accordions>

		<hr/>

			<h3>{{app}}</h3>
			<ui-alert ng-if="message"  title="Ops, aconteceu um problema!" error="message">
				Transclude -> msg aqui !!!
			</ui-alert>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					<input type="text" class="form-control" ng-model="criterioBusca" placeholder="O que você esta procurando?"/>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<th></th>
						<th>Serial</th>
						<th><a href="" ng-click="ordenarPorCampo(nome)">Nome</a></th>
						<th><a href="" ng-click="ordenarPorCampo(nome)">Telefone</a></th>
						<th><a href="" ng-click="ordenarPorCampo(data)">Data</a></th>
						<th><a href="" ng-click="ordenarPorCampo(nome)">Operadora</a></th>
						<th></th>
					</tr>
					<tr ng-class="{'negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:criterioBusca:ordenarPor">
						<td><input type="checkbox" ng-model="contato.selecionado"/>
						<td>{{contato.serial}}</td>
						<td>{{contato.nome}}</td>
						<td>{{contato.telefone}}</td>
						<td>{{contato.data | date:'dd/MM/yy'}}</td>
						<td>{{contato.operadora.nome}}</td>
						<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
					</tr>
				</table>
			</div>
			<hr>
			<form name="contatoForm">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="nome" ng-required="true" ng-minlength="5"/>
						<div ng-messages="contatoForm.nome.$error" ng-if="contatoForm.nome.$dirty">
							<div ng-message="required"  class="alert alert-danger">
								O campo nome é requerido.
							</div>
							<div ng-message="minlength" class="alert alert-danger" >
								O campo nome precisa ter no minimo 5 characteres.
							</div>
						</div>
					<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
						<div ng-messages="contatoForm.telefone.$error" ng-if="contatoForm.telefone.$dirty" >
							<div ng-message="required" class="alert alert-danger">
								O campo telefone é requerido.
							</div>
							<div ng-message="pattern" class="alert alert-danger">
								O campo Telefone deve seguir o formato 9999-8888.
							</div>
						</div>
					<div>
						<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome +' ('+(operadora.preco | currency)+')'  group by operadora.categoria for operadora in operadoras">
							<option value="">Selecione operadora</option>
						</select>
					</div>
					<div>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
							<input type="text" class="form-control" ng-model="contato.data " name="data" placeholder="XX/XX/XXXX" ui-date/>
						</div>
					</div>
					<button colorpicker type="button" ng-style="{'background-color': contato.cor}" class="form-control btn btn-success" ng-model="contato.cor">Selecione uma Cor</button>
				</div>
			</form>
			<div class="form-group">
				<button class="form-control btn btn-primary" ng-click="adicionaContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
				<button class="form-control btn btn-danger" ng-click="removeContatos(contatos)" ng-disabled="!isSelecionado(contatos)">Remover Contas</button>
			</div>
 		</div>
 		<div ng-include="'views/footer.html'"></div>
	</div>
</body>
</html>